body {
    font-family: "Raleway", "Montserrat";
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Wrapper for the form and footer */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.container {
    background-color: black;
    padding: 20px;
    border: 1px solid #FFCC04;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
}

h1 {
    color: #b18bfa;
    margin-bottom: 20px;
}




.myFooter {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #AE83E8;
    border-radius: 12px;
    background-color: black;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.myFooter p {
    margin: 5px;
    color: #fff;
    font-size: 12px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #b18bfa;
}
ul{
    justify-content: center;
}
